body {
  background: white;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  padding: 0 1.5em;
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}
.card {
  height: 380px;
  width: 300px;
  padding: 20px 35px;
  border-radius: 10px;
  background-color: #bfd6f6;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card .icon {
  font-size: 64px;
  display: block;
  text-align: center;
  color: #3b7dd8;
  margin-top: 18px;
}

.card h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #3b7dd8;
  font-size: 22px;
}

.card .content p {
  font-size: 13px;
  color: #64a1f4;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  align-content: center;
}

.card:hover {
  color: #3b7dd8;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: rotate 0.7s ease-in-out both;
}

.card:before,
.card:after {
  content: "";
  background-color: darkblue;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -80px;
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.card:hover:before,
.card:hover:after {
  opacity: 0.15;
}

.card:hover:before {
  transform: translate3d(50%, 0, 0) scale (0.9);
}
.card:hover:after {
  transform: translate(50%, 0) sclae (1.1);
}

/* Animación */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #3b7dd8;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  width: 90%;
  z-index: 3;
  padding-right: 70px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  color: #3b7dd8;
  text-transform: uppercase;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-align: center;
  text-decoration: none;
  color: #3b7dd8;
  text-transform: uppercase;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logos {
  display: block;
  float: left;
  text-align: center;
  height: 70px;
  width: 90px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 50px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #3b7dd8;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #3b7dd8;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #3b7dd8;
  align-content: center;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #fff;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #3b7dd8;
  border-bottom: 1px solid #2a38f1;
}

.contact-form form button {
  background: #3b7dd8;
  border: 0;
  color: white;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #3b7dd8;
  color: white;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* Contacto */
.contact-info {
  background: white;
  color: #3b7dd8;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* Responsive */
@media (min-width: 900px) {
  body {
    padding: 0 4em;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 800px) {
  .servicios {
    flex-direction: column;
  }
}
  